*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 15px;
	font-family: sans-serif;
	line-height: 28px;
}
.header-top-area, .header-top-area a{
	background: #222;
	color: #fff;
	padding: 8px 0px;
}
.header-top-area a{
	text-decoration: none;
}
.seperator{
	margin: 0px 10px;
}
.header-top-area i.fa{
	margin-right: 5px;
	color: #efef11;
}
/*....logo area*/
.logo{
	margin: 0px;
	display: inline-block;
}
.logo h2{

	border: 2px solid #222;
	text-align: center;
	padding: 5px 17px;
	margin: 17px;

}
.menu{
}
.menu ul{
	margin: 0px;

}
.menu ul li{
	list-style: none;
	display: inline-block;
}
.menu ul li a{
	display: block;
	background: floralwhite;
	padding: 27px 46px;
	text-decoration: none;
	font: 17px;

}
.menu ul li a:hover{
}
.single-slider{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-slider-1{
	background-image: url('images/RR.jpg') ;
	
}
.bg-slider-2{
	background-image: url('images/html.jpg') ;
	
	
}
.bg-slider-3{
	background-image: url('images/images.jpg') ;
	
}



/*....slider-conten*/

.slider-content{
	padding: 50px 0px;
	margin: 30px;
	color: #fff;
}
.slider-content h2{
	font-size: 36px;
	font-weight: bold;
 
}
.slider-content p{
	padding: 13px 0px;
}
.slider-btn{
	background: green;
}
.slider-content a{
	text-decoration: none;
	background: green;
	color: #fff;
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 20px;
}
.another-area{
	margin-top: 25px;
}
.single_footer.footer_left img{
  width: 344px;
    height: 198px;
    margin-bottom: 15px;
}
.service-item-service-bd-2 img{
	float: left;
	margin-right: 20px;
	width: 147px;
    height: 134px;

}
.service-item-service-bd-2{
	display: inline-block;
	margin-bottom: 20px;
	border-bottom: 1px solid #d3d0d0;
	padding-bottom: 21px;
}
a.service-item-service-bd-2{}
.another-area a{
	text-decoration: none;
	color: #222;
}
.single_footer.footer_left a{
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 20px;
	color: #fff;
}

button.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    left: auto;
    margin: 0px 20px;
    transform: translateY(-50%);
    border: 1px solid #fff;
    color: #fff;
   display: inline-block;
}

.owl-nav {
    font-size: 32px;
}
button.owl-next {
    right: 0;
}
/*....factorin-are*/
	.factorin-area{
	background: #204;
	color: #FED;
	padding: 1px;
}
a.factorian-btn{
	text-decoration: none;
	background: #ddd;
	display: inline-block;
	padding: 10px 30px;
	font-size: 17px;
	color: #222;
	font-weight: 500px;
	margin-top: 8px;
}
.factorin-btn h2{
	margin: 15px 0px;
}
a.factorin-btn:hover{
	padding: 10px 40px;
    font-size: 18px;
    margin-top: 20px;
   background: #f5f843;
    color: #555;
}
.factorian-block-area h3 {
    margin: 0px;
    margin-bottom: 10px;
}
.video-area-block {
    background: #ddd;
   margin-top: 30px;
    padding: 60px;
}


/*.....02,10,2019.....*/
.service-item {
    position: relative;
    overflow: hidden;
}

.service-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #908585b5;
    top: -90%;
    visibility: hidden;
}

.service-item:hover .service-overlay {
    top: 0%;
    transition: .5s;
    visibility: visible;
}

.service-item img {
    width: 100%;
}